@import 'src/assets/styles/_variables';

.input {
	margin-bottom: 0.7rem;
	padding: 14px;
	width: 100%;
	font-size: 18px;
	color: $white;
	background-color: $dark-accent;
	border-radius: 10px;
	border: 1px solis transparent;
	outline: none;

	&:focus {
		border-color: rgba($accent, 0.3);
	}

	&::placeholder {
		color: #946e86
	}
}

.error {
	font-size: 1rem;
	color: #8D2B3D;
}