@import './_variables.scss';

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	&:focus {
		outline: none;
	}

	font-family: $default-font;
	letter-spacing: 0.5px;
}

*::-webkit-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*::-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*::-ms-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	min-width: 320px;
	font-size: 20px;
	line-height: 1.65;
	color: $white;
	background-color: $black;
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

.img-responsive {
	display: block;
	min-width: 100%;
	height: auto;
}

#root {
	height: 100%;
}

.dark-link {
	margin-bottom: 0.5rem;
	display: block;
	width: 100%;
	text-align: right;
	text-decoration: none;
	color: $dark-accent;
	transition: color 0.3s ease;

	&:hover {
		color: darken($accent, 10%);
	}
}

.wrapper-inner-page {
	margin: 0 auto;
	padding: 40px 30px;
	min-width: 560px;
	width: 100%;
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	margin: 0;
	-webkit-appearance: none;
}

input[type='number'] {
	-moz-appearance: textfield;
}